{% extends 'main.html' %}

{% block content %}
<div class="form-div">
    <div></div>
    <div class="form-div-item">
        <form method="POST" action="">
            {% csrf_token %}
            <p><label>Username: </label><input type="text" name="username" required></p>
            <p><label>Password: </label><input type="password" name="password" required></p>
            <input class="btn" type="submit" value="Login">
        </form>
        <div class="center">
            <h4>Haven't registered?</h4>
            <a class="btn" href="{% url 'register' %}">Register Here</a>
        </div>
    </div>
    <div></div>
</div>
{% endblock content %}