{% extends 'main.html' %}

{% block content %}
<div class="form-div">
    <!-- <div></div> -->
    <div class="form-div-item">
        <form method="POST" action="">
            {% csrf_token %}
            {{ form.as_p }}
            <input class="btn" type="submit" value="Register">
        </form>
        <div class="center">
            <h4>Already registered?</h4>
            <a class="btn" href="{% url 'login' %}">Login</a>
        </div>
    </div>
    <!-- <div></div> -->
</div>
{% endblock content %}